ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: 1128px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  margin: 24px 156px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
}

.gallery-link {
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.25s;
  overflow: hidden;
}

.gallery-image:hover {
  transform: scale(1.0444);
}
